.introduction-section {
  font-family: "MapoFlowerIsland";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px;

  .classic-title {
    display: flex;
    flex-direction: column;
    .intro {
      font-size: 16px;
      margin-bottom: 5px;
    }
    margin-bottom: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 21px;
  }

  .title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
  }

  .desc {
    text-align: center;
    line-height: 1.8;
  }

  .family-info {
    // display: flex;
    // flex-direction: column;
    display: grid;
    width: 100%;
    padding: 24px 10px;
    margin-top: 50px;
    border-top: 1px solid rgba(223, 211, 211, 0.7);
    border-bottom: 1px solid rgba(223, 211, 211, 0.7);
    align-items: center;

    .male {
      display: flex;
      line-height: normal;
      height: 20px;
      margin-bottom: 14px;
      justify-content: center;
      @media screen and (max-width: 376px) {
        font-size: 14px;
      }

      .parent {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-shrink: 0;
        margin-bottom: 10px;
        gap: 10px;
        width: 50%;

        .dot {
          color: rgb(0, 0, 0, 0.5);
        }
        .name {
          position: relative;
          display: flex;
          align-items: center;

          img {
            margin-right: 2px;
            align-self: center;
          }

          span {
            line-height: 1;
          }

          @media screen and (max-width: 376px) {
            font-size: 15px;
          }
        }
      }
      .child {
        display: flex;
        justify-content: flex-end;
        line-height: normal;
        width: 40%;

        .relationship {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 376px) {
            font-size: 13px;
            vertical-align: middle;
          }
        }
        .name {
          margin-right: 20px;
          display: flex;
          @media screen and (max-width: 376px) {
            font-size: 15px;
          }
        }
      }
    }
    .female {
      line-height: 1;
      display: flex;
      height: 16px;
      justify-content: center;

      @media screen and (max-width: 376px) {
        font-size: 14px;
      }
      .parent {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-shrink: 0;
        width: 50%;

        &.except {
          display: flex;
          justify-content: center;
        }

        .dot {
          color: rgb(0, 0, 0, 0.5);
        }
        .name {
          @media screen and (max-width: 376px) {
            font-size: 15px;
          }
        }
      }
      .child {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        .relationship {
          flex: 1;
          display: flex;
          justify-content: center;
          @media screen and (max-width: 376px) {
            font-size: 14px;
          }
        }
        .name {
          margin-right: 20px;
          @media screen and (max-width: 376px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
