.v2-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 420px;
  overflow: hidden;
  padding: 0 24px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  gap: 100px;
}
