.carousel-container {
  max-width: 420px;
  max-height: 80vh;
  height: 100%;
  background-color: rgb(242, 239, 239);
  padding-bottom: 20px;

  .main {
    /* background-color: #fff6dd; */
    max-width: 500px;
    overflow-x: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .sub {
    margin-top: 20px;
    max-height: 100px;
    padding: 0 20px;
    max-width: 500px;
    overflow-x: hidden;
  }
}
