.carousel-container {
  max-width: 420px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: center;
  overflow: hidden;

  .main {
    background-color: rgb(242, 239, 239);
    max-width: 450px;
    overflow-x: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
    max-height: auto;
    height: 100%;

    @media screen and (max-width: 500px) {
      max-width: 100vw;
    }
  }

  .navigator {
    margin-top: 20px;
    max-height: 100px;
    padding: 0 20px;
    max-width: 85px;
    overflow-x: hidden;
    display: flex;

    .dots {
      display: flex;
      transition: transform 0.3s ease-out;
      gap: 10px;

      .dot {
        width: 8px;
        height: 8px;
        background-color: lightgray;
        border-radius: 50%;
        display: flex;
        transition: transform 0.3s ease-out;

        &.active {
          background-color: #000;
        }
      }
    }
  }
}
